<mat-toolbar class="navbar">
  <span> <img class="navbar__logo" src="../assets/Marvel_Logo.svg.png"> </span>
  <button class="navbar__button" mat-icon-button aria-label="Example icon-button with menu icon" routerLink="" routerLinkActive="active">
    <p>Home</p>
  </button>
  <button class="navbar__button" mat-icon-button aria-label="Example icon-button with menu icon" routerLink="/character" routerLinkActive="active">
    <p>character</p>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>